@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/*
Paleta de cor:

#7267e9 - Azul
#d54adc - Roxo


*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    box-shadow: 2px, solid sienna;
    background-color: white;

    /*As partes sobrando terão molduras com fotos nossas*/
}

:root{
    --fonteespecial: "Lily Script One" , monospace;
    --fontenormal: Arial, Helvetica, sans-serif;

    /*CORES*/

    --cor01: #7267e98e; 
    --cor02: #d54adc8c;
    --cor03: rgb(255, 255, 255); /*para. em fundo de imagem*/
    

    /*CORES PARA O HEADER, MAIN E FOOTER*/


}

header{

    background-color: bisque;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.294);;


}

#datan{
    text-align: center;
    font-size: x-small;
}

h1, h2{
    text-align: center;
    font-family: var(--fonteespecial);
    color: #e95b5bc6;
    
}

main{
    box-sizing: border-box;
    width:60vw;
    height: 100vh;
    margin: auto;
    border-radius: 15px;
}

.normal{
    background-color: bisque;
    max-width: 2340px;
    max-height: 1080px; 
    margin: auto;
    box-shadow: 1px 1px 2px 2px inset rgba(0, 0, 0, 0.294);
    box-shadow:  1px 2px 2px rgba(0, 0, 0, 0.419)
}

.imagem1{
    max-width: 2340px;
    max-height: 1080px;
    margin: auto;
    background-image: url(../imagens/fundo003.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--cor03);
    font-weight: bolder;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.419);
}

.imagem2{
    max-width: 2340px; 
    max-height: 1080px; 
    margin: auto;
    background-image: url(../imagens/fundo004.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--cor03);
    font-weight: bolder;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.419);
}

div{
    display: flex;
}

/*fonte especial*/



p{
    line-height: 1.7em;
    max-width: 700px;
    text-indent: 5px;
    text-align: justify;
    padding: 10px;
    margin: 0px;
    font-size: 1em;
    font-family: var(--fontenormal);
    margin: auto;

}

p.destaque{
    background-color: rgba(128, 128, 128, 0.423);
    max-width: 700px;
}

span{
    padding: 100px;
    font-family: var(--fonteespecial);
    font-size: large;
    color: red;
    text-decoration: underline;
}

footer{
    background-color: black;
    height: 15vh;
    
    position: relative;
}

p#prodape{
    background-color: rgba(0, 0, 0, 0.72);
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-family: var(--fontenormal);
}

/*
Editar o rodapé
Editar a página "Eu falei bobinha"
fazer um play music personalizado;
fazer o timer.

*/