@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/*
Paleta de cor:

#7267e9 - Azul
#d54adc - Roxo


*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.72);

    /*As partes sobrando terão molduras com fotos nossas*/
}

:root{
    --fonteespecial: "Lily Script One" , monospace;
    --fontenormal: Arial, Helvetica, sans-serif;

    /*CORES*/

    --cor01: #7267e98e; 
    --cor02: #d54adc8c;

    /*CORES PARA O HEADER, MAIN E FOOTER*/


}

header{

    background-color: rgb(245, 190, 80);

}

#datan{
    text-align: center;
    font-size: x-small;
}

h1, h2{
    text-align: center;
    font-family: var(--fonteespecial);
    color: #e95b5bc6;
    
}

main{
    background-color: white;
    width:60vw;
    height: 98vh;
    margin: auto;
    border-radius: 15px;
}

div{
    display: flex;
}

/*fonte especial*/

p{
    text-align: justify;
    padding: 20px;
    margin: 0px;
    font-size: 2em;
    font-family: var(--fontenormal);

}
/*procurar uma fonte boa para leitura*/